<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bzu.skyn.travehelper"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:maxSdkVersion="25"
        android:minSdkVersion="19"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <uses-library android:name="android.test.runner" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="3dffcecbd1e9e78e56e33f096bfc1887">
            //开发者申请的key</meta-data>

        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"></activity>
        <activity
            android:name=".WeatherActivity"
            android:label="@string/title_activity_weather"></activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"></activity>

        <provider
            android:name=".map.Suggestion"
            android:authorities="com.zxy.amp.MySuggestionProvider"></provider>

        <activity
            android:name=".AMapActivity"
            android:label="@string/title_activity_amap"></activity>
        <activity
            android:name=".LogoActivity"
            android:label="@string/title_activity_logo"></activity>
        <activity
            android:name=".ToolActivity"
            android:label="@string/title_activity_tool"></activity>
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar"></activity>
        <activity
            android:name=".CompassActivity"
            android:label="@string/title_activity_compass"></activity>
        <activity
            android:name=".DiaryActivity"
            android:label="@string/title_activity_diary"></activity>
        <activity
            android:name=".EditActivity"
            android:label="@string/title_activity_edit"></activity>
        <activity
            android:name=".WriterActivity"
            android:label="@string/title_activity_writer"></activity>
        <activity
            android:name=".ShowActivity"
            android:label="@string/title_activity_show"></activity>
        <activity
            android:name=".ChangBachgroundActivity"
            android:label="@string/title_activity_chang_bachground"></activity>
        <activity
            android:name=".ShanGuangDActivity"
            android:label="@string/title_activity_shan_guang_d"></activity>
        <activity
            android:name=".OperationActivity"
            android:label="@string/title_activity_operation"></activity>
        <activity
            android:name=".TuijianActivity"
            android:label="@string/title_activity_tuijian"></activity>
        <activity android:name=".NaviActivity"></activity>
    </application>

</manifest>